
.vscode/settings.json


appsflyer-unity-purchase-connector.sln

Assembly-CSharp.csproj

Logs/Packages-Update.log

Packages/

*.log



#android studio
build
gen
.gradle
.idea
.hgcheck
infer-out
captures
local.properties
*.orig
*.rej
out
bin
dist
*.iml
build.gradle_mine
.DS_Store
*.idea


.DS_Store
Logs/
Temp/
Library/
/*/outputs/
